body {
    background: #aaaa;
}
main {
    width: 1000px;
    margin: 0 auto;
}
header{
    height: 150px;
    background: lightblue;
}
nav {
    display: flex;
    flex-wrap: wrap;
}
nav a {
    margin: 0 5px;
}
section {

display: flex;
}

aside{
    width: 150px;
    height: 500px;
    background: lightcoral;
}

article{
    width: 700px;
    height: 500px;
    background: lightpink;
}